<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net40" />
  <package id="NLog" version="3.2.0.0" targetFramework="net40" />
  <package id="ServiceStack.Common.Signed" version="4.0.40" targetFramework="net40" />
  <package id="ServiceStack.Interfaces" version="4.0.40" targetFramework="net40" />
  <package id="ServiceStack.Redis.Signed" version="4.0.40" targetFramework="net40" />
  <package id="ServiceStack.Text.Signed" version="4.0.40" targetFramework="net40" />
</packages>