$packageName = 'TimberWinR-${version}' 
$installerType = 'msi' 
$url = 'http://www.ericfontana.com/TimberWinR/TimberWinR-${version}.0.msi'
$silentArgs = '{86CA5678-4687-4352-99EB-783CDB7C8D82} /quiet' 
$validExitCodes = @(0)
UnInstall-ChocolateyPackage "$packageName" "$installerType" "$silentArgs" "$url" -validExitCodes $validExitCodes


